<div class="list-container col-sm-12">
    <div class="list-frame">
        <div class="list-title">
            <h3><i class="glyphicon glyphicon-th"></i>&nbsp;门店列表</h3>
        </div>
        <div class="input-area col-sm-12">
            <div class="form-group form-material col-sm-3">
                <div class="control-label">
                    <label>门店编号：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.store_code" placeholder="门店编号">
                </div>
            </div>
            <div class="form-group form-material col-sm-3">
                <div class="control-label">
                    <label>门店名称：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.store_name" placeholder="门店名称">
                </div>
            </div>
            <div class="form-group form-material col-sm-3">
                <button ng-click="reload(pager, 1);" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;查询
                </button>
            </div>
        </div>
        <div class="opt-panel col-sm-12">
            <button class="btn btn-default" ng-click="doAddUserDialog();"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加
            </button>
            <button class="btn btn-default" ng-click="doBatchDel();"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除
            </button>
            <button class="btn btn-default" ng-click="reload();"><i class="glyphicon glyphicon-refresh"></i>&nbsp;刷新
            </button>
        </div>
        <div class="list-table">
            <div class="tab">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-checked="globalChecked" ng-click="doCheckAll();">
                        </th>
                        <th>序号</th>
                        <th>门店编号</th>
                        <th>门店名称</th>
                        <th>地址</th>
                        <th>邮编</th>
                        <th>联系电话</th>
                        <th>同步时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="pager.result.length == 0">
                        <td colspan="9" class="none-result">
                            没有相关数据！
                        </td>
                    </tr>
                    <tr ng-if="pager.result.length > 0" ng-repeat="item in pager.result">
                        <td width="5%">
                            <input type="checkbox" ng-model="item.checked">
                        </td>
                        <td width="5%" ng-bind="$index + 1">
                        </td>
                        <td width="10%" ng-bind="item.store_code">
                        </td>
                        <td width="10%" ng-bind="item.store_name">
                        </td>
                        <td width="23%" ng-bind="item.store_address">
                        </td>
                        <td width="7%" ng-bind="item.store_post">
                        </td>
                        <td width="10%" ng-bind="item.store_tel">
                        </td>
                        <td width="15%" ng-bind="item.sysc_time | date : 'yyyy-MM-dd HH:mm:ss'">
                        </td>
                        <td width="15%">
                            <a href="" ng-click="doEdit(item);">修改</a>
                            &nbsp;
                            <a href="" ng-click="doDel(item);">删除</a>
                            &nbsp;
                            <a href="" ng-click="doViewDetail(item);">评论</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<div pagination ng-pager="pager" ng-callback="reload(pager);"></div>-->
            <pagination ng-pager="pager" ng-callback="reload(pager);"></pagination>

        </div>
    </div>
</div>
