<div class="list-container col-sm-12">
    <div class="list-frame">
        <div class="list-title">
            <h3><i class="glyphicon glyphicon-th"></i>&nbsp;知识库列表</h3>
        </div>
        <div class="container">
            <div class="col-sm-12 align-center pt20 pb20">
                <div class="form-group form-material col-sm-6">
                    <div class="control-label">
                        <label>标题：</label>
                    </div>
                    <div class="control-input">
                        <input type="password" class="form-control" ng-model="knowledge.title" placeholder="标题">
                    </div>
                </div>
                <div class="form-group form-material col-sm-6">
                    <div class="control-label">
                        <label>关键词：</label>
                    </div>
                    <div class="control-input">
                        <input type="password" class="form-control" ng-model="knowledge.keyword" placeholder="关键词">
                    </div>
                </div>

                <div class="form-group form-material col-sm-6">
                    <div class="control-label ">
                        <label>作者：</label>
                    </div>
                    <div class="control-input">
                        <input type="password" class="form-control" ng-model="knowledge.author" placeholder="作者">
                    </div>
                </div>
                <div class="form-group form-material col-sm-6">
                    <div class="control-label ">
                        <label>类型：</label>
                    </div>
                    <div class="control-input">
                        <select type="text" class="form-control" ng-model="knowledge.type" defaultValue="" ng-options="item.code as item.name for item in knowledgeTypeSet">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-material col-sm-12">
                    <div class="control-label ">
                        <label>内容：</label>
                    </div>
                    <div class="control-input">
                        <select type="text" class="form-control" ng-model="knowledge.type" defaultValue="" ng-options="item.code as item.name for item in knowledgeTypeSet">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="text-align-center col-sm-12">
                    <button ng-click="doEdit();" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>&nbsp;保存
                    </button>
                    <a href="#/knowledge" class="btn btn-warning "><i class="glyphicon glyphicon-share-alt mirror-x"></i>&nbsp;返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
