<div class="list-container col-sm-12">
    <div class="list-frame">
        <div class="list-title">
            <h3><i class="glyphicon glyphicon-th"></i>&nbsp;知识库列表</h3>
        </div>
        <div class="input-area col-sm-12">
            <div class="form-group form-material col-sm-2">
                <div class="control-label">
                    <label>标题：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.title" placeholder="标题">
                </div>
            </div>
            <div class="form-group form-material col-sm-2">
                <div class="control-label">
                    <label>关键词：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.keyword" placeholder="关键词">
                </div>
            </div>
            <div class="form-group form-material col-sm-2">
                <div class="control-label">
                    <label>类型：</label>
                </div>
                <div class="control-input">
                    <select type="text" class="form-control" ng-model="pager.condition.type" defaultValue="" ng-options="item.code as item.name for item in knowledgeTypeSet">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-material col-sm-3">
                <button ng-click="reload(pager, 1);" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;查询
                </button>
            </div>
        </div>
        <div class="opt-panel col-sm-12">
            <a class="btn btn-default" href="#/knowledge/add"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加
            </a>
            <button class="btn btn-default" ng-click="doBatchDel();"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除
            </button>
            <button class="btn btn-default" ng-click="reload();"><i class="glyphicon glyphicon-refresh"></i>&nbsp;刷新
            </button>
        </div>
        <div class="list-table">
            <div class="tab">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-checked="globalChecked" ng-click="doCheckAll();">
                        </th>
                        <th>序号</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>关键词</th>
                        <th>发布时间</th>
                        <th>作者</th>
                        <th>点赞数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="pager.result.length == 0">
                        <td colspan="9" class="none-result">
                            没有相关数据！
                        </td>
                    </tr>
                    <tr ng-if="pager.result.length > 0" ng-repeat="item in pager.result">
                        <td width="5%">
                            <input type="checkbox" ng-model="item.checked">
                        </td>
                        <td width="5%" ng-bind="$index + 1">
                        </td>
                        <td width="15%" ng-bind="item.title">
                        </td>
                        <td width="10%" ng-bind="item.type">
                        </td>
                        <td width="15%" ng-bind="item.keyword">
                        </td>
                        <td width="15%" ng-bind="item.create_date | date : 'yyyy-MM-dd HH:mm:ss'">
                        </td>
                        <td width="10%" ng-bind="item.author">
                        </td>
                        <td width="10%" ng-bind="item.agrees">
                        </td>
                        <td width="15%">
                            <a href="" ng-click="doEdit(item);">修改</a>
                            &nbsp;
                            <a href="" ng-click="doDel(item);">删除</a>
                            &nbsp;
                            <a href="" ng-click="doViewDetail(item);">评论</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div pagination ng-pager="pager" ng-callback="reload(pager);"></div>

        </div>
    </div>
</div>
