<nav class="top-nav sm-hidden">
    <div class="container">
        <div class="col-sm-6 none-padding">
            <a href="#/user/login"><i class="fa fa-sign-in" aria-hidden="true" title="登入"></i>&nbsp;登入&nbsp;&nbsp;</a>
            <a href="#/user/register"><i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;注册&nbsp;&nbsp;</a>
        </div>
        <div class="col-sm-6 none-padding" style="text-align: right">
            <a class="service-400-tel"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;服务热线：400-800-8888</a>
        </div>
    </div>
</nav>

<nav class="container navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <div class="logo">


            <button type="button" class="col-md-6 navbar-toggle" data-toggle="collapse"
                    data-target="#menu-navbar-collapse">
            </button>

            <a href="#/index" ng-click="doHome();" type="button" class="sm-show float-right glyphicon glyphicon-home"
               style="font-size: 20px;padding: 14px 0px;">
            </a>

        </div>
    </div>

    <div class="col-sm-8 float-right collapse navbar-collapse " ng-class="{true:'none-padding'}[!isMobile]" id="menu-navbar-collapse">

        <div class="search-bar">
            <label class="" style="text-align: right;">订单号：</label>
            <input type="text" class="form-control" ng-model="knowledge.author" placeholder="请输入订单号...">
            &nbsp;&nbsp;
            <button class="btn btn-warning">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
        </div>
        <ul class="nav navbar-nav">
            <li role="presentation" ng-repeat="item in menuList" ng-if="!item.disabled"
                ng-class="{ true: 'active', false: ''}[item.active]">

                <a class="sm-hidden" href="{{item.href}}" ng-click="doChangeMenu(item);">
                    <span ng-if="$index == 0" class="glyphicon glyphicon-home"></span>
                    <span ng-bind="item.name"></span>
                </a>

                <a class="sm-show" href="{{item.href}}" ng-click="doChangeMenu(item);" data-toggle="collapse"
                   data-target="#menu-navbar-collapse">
                    <span ng-if="$index == 0" class="glyphicon glyphicon-home"></span>
                    <span ng-bind="item.name"></span>
                </a>

            </li>
            <li role="presentation" class=" sm-show">
                <a href="#/user/login" data-toggle="collapse" data-target="#menu-navbar-collapse"><i
                        class="fa fa-sign-in" aria-hidden="true" title="登入"></i>&nbsp;登入&nbsp;&nbsp;
                </a>
            </li>
            <li role="presentation" class=" sm-show">
                <a href="#/user/register" data-toggle="collapse" data-target="#menu-navbar-collapse"><i
                        class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;注册&nbsp;&nbsp;
                </a>
            </li>

            <li role="presentation" class=" sm-show">
                <a class="w100p text-align-center none-padding" data-toggle="collapse" data-target="#menu-navbar-collapse"
                   style="color: #FFF; font-size: 22px; height: 35px">
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    <label>隐藏</label>
                </a>

            </li>
        </ul>
    </div>
</nav>