/**--S ui-layout **/
/* @media only screen and (max-width: 1280px) and (min-width: 768px) {
     body.layout-default {
       width: 1280px;
     }
   }*/
/*@media only screen and (max-width: 768px) {

    body.layout-default .ui-layout-north > div {
      width: 100%;
    }
  }*/
.layout-default .ui-layout-north {
  width: 100%;
  height: auto;
  /* position: absolute;
     top: 0px;
     left: 0px;
     z-index: 1;*/
}
.layout-default .ui-layout-west {
  width: 0%;
  height: 88%;
}
.layout-default .ui-layout-center {
  width: 100%;
  height: 88%;
  /* position: absolute;
     padding-top: 60px;
     top: 0px;
     left: 0px;
     z-index: 0;*/
}
.layout-default .ui-layout-east {
  width: 0px;
  height: 88%;
}
.layout-default .ui-layout-south {
  width: 100%;
  height: auto;
  /* position: absolute;
     top: @west-center-east-height;
     left: 0px;
     z-index: 1;*/
}
