.layout-default {
  overflow: hidden;
}
/**--S ui-layout **/
.layout-default .ui-layout-north {
  width: 100%;
  height: auto;
  /* position: absolute;
     top: 0px;
     left: 0px;
     z-index: 1;*/
}
.layout-default .ui-layout-west {
  width: 13%;
  height: 100%;
}
.layout-default .ui-layout-center {
  width: 87%;
  height: 100%;
  /* position: absolute;
     padding-top: 60px;
     top: 0px;
     left: 0px;
     z-index: 0;*/
}
.layout-default.flex-zoom .ui-layout-north {
  width: 100%;
  height: auto;
}
.layout-default.flex-zoom .ui-layout-west {
  width: 90px;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  animation: ui-layout-west-hover2 0.5s;
  background-image: linear-gradient(540deg, #3d546e, #392734) !important;
}
.layout-default.flex-zoom .ui-layout-west:hover {
  width: 13%;
  animation: ui-layout-west-hover 0.5s;
}
@keyframes ui-layout-west-hover {
  from {
    width: 90px;
  }
  to {
    width: 13%;
  }
}
@keyframes ui-layout-west-hover2 {
  from {
    width: 13%;
  }
  to {
    width: 90px;
  }
}
.layout-default.flex-zoom .ui-layout-center {
  width: 100% !important;
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
}
.layout-default.flex-zoom .ui-layout-center > .ui-layout.ui-layout-content {
  padding-left: 110px;
}
.layout-default .ui-layout-east {
  width: 0px;
  height: 100%;
}
.layout-default .ui-layout-south {
  width: 100%;
  height: auto;
  /* position: absolute;
     top: @west-center-east-height;
     left: 0px;
     z-index: 1;*/
}
/*@media only screen and (max-width: 1366px) {
    .@{layout-name} .ui-layout-west {
      width: @west-width * 0.8;
    }

    .@{layout-name} .ui-layout-center {
      width: @west-width * 0.5 +  @center-width;
    }
  }*/
/*{*/
/**--S ui-layout **/
.layout-mobile .ui-layout-north {
  width: 100%;
  height: auto;
}
.layout-mobile .ui-layout-west {
  width: 0%;
  height: auto;
}
.layout-mobile .ui-layout-center {
  width: 100%;
  height: auto;
  min-height: 82%;
}
.layout-mobile .ui-layout-east {
  width: 0px;
  height: auto;
}
.layout-mobile .ui-layout-south {
  width: 100%;
  height: auto;
}
.layout-mobile .header {
  height: auto;
  min-height: 10%;
  overflow: visible;
}
.layout-mobile .footer {
  height: auto;
  min-height: 10%;
  overflow: visible;
}
/**--S ui box style **/
.theme-default .box-container {
  width: 100%;
  height: auto;
  padding: 15px;
}
.theme-default .box-group {
  width: 100%;
  height: auto;
  padding: 7.5px 0px;
}
.theme-default .box {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #ffffff;
}
.theme-default .box-container .box-group:first-child {
  padding-top: 0px;
}
.theme-default .box-container .box-group:last-child {
  padding-bottom: 0px;
}
.theme-default .box-container .box-group .box:nth-child(even) {
  margin-left: 1%;
}
.theme-default .box-container .box-group .box:nth-child(2n + 3) {
  margin-left: 1%;
}
/**--E ui box style **/
/**--S ui input style **/
.theme-default .input .input-lbl {
  width: 150px;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}
.theme-default .input .input-area .default {
  color: #cccccc;
  border: 1px solid #cccccc;
}
/**--E ui input style **/
/**--S border style **/
.theme-default .border-solid-1px {
  border: 1px solid #c3c3c3;
}
.theme-default .border-dotted-1px {
  border: 1px dotted #c3c3c3;
}
.theme-default .border-top-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-top-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-left-solid-1px {
  border-left: 1px solid #c3c3c3;
}
.theme-default .border-left-dotted-1px {
  border-left: 1px dotted #c3c3c3;
}
.theme-default .border-right-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-right-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-solid-2px {
  border: 2px solid #c3c3c3;
}
.theme-default .border-dotted-2px {
  border: 2px dotted #c3c3c3;
}
.theme-default .border-top-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-top-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-left-solid-2px {
  border-left: 2px solid #c3c3c3;
}
.theme-default .border-left-dotted-2px {
  border-left: 2px dotted #c3c3c3;
}
.theme-default .border-right-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-right-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-solid-3px {
  border: 3px solid #c3c3c3;
}
.theme-default .border-dotted-3px {
  border: 3px dotted #c3c3c3;
}
.theme-default .border-top-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-top-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-left-solid-3px {
  border-left: 3px solid #c3c3c3;
}
.theme-default .border-left-dotted-3px {
  border-left: 3px dotted #c3c3c3;
}
.theme-default .border-right-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-right-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-solid-4px {
  border: 4px solid #c3c3c3;
}
.theme-default .border-dotted-4px {
  border: 4px dotted #c3c3c3;
}
.theme-default .border-top-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-top-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-left-solid-4px {
  border-left: 4px solid #c3c3c3;
}
.theme-default .border-left-dotted-4px {
  border-left: 4px dotted #c3c3c3;
}
.theme-default .border-right-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-right-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-solid-5px {
  border: 5px solid #c3c3c3;
}
.theme-default .border-dotted-5px {
  border: 5px dotted #c3c3c3;
}
.theme-default .border-top-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-top-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .border-left-solid-5px {
  border-left: 5px solid #c3c3c3;
}
.theme-default .border-left-dotted-5px {
  border-left: 5px dotted #c3c3c3;
}
.theme-default .border-right-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-right-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .bd {
  border: 1px solid #c3c3c3;
}
.theme-default .bt {
  border-top: 1px solid #c3c3c3;
}
.theme-default .bl {
  border-left: 1px solid #c3c3c3;
}
.theme-default .br {
  border-right: 1px solid #c3c3c3;
}
.theme-default .bb {
  border-bottom: 1px solid #c3c3c3;
}
/**--E border style **/
/**--S border radius */
.radius-1 {
  border-radius: 1px;
}
.radius-2 {
  border-radius: 2px;
}
.radius-3 {
  border-radius: 3px;
}
.radius-4 {
  border-radius: 4px;
}
.radius-5 {
  border-radius: 5px;
}
.radius-6 {
  border-radius: 6px;
}
.radius-7 {
  border-radius: 7px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-9 {
  border-radius: 9px;
}
.radius-10 {
  border-radius: 10px;
}
/**--E border radius */
/**--S background color */
.theme-default .bg-01 {
  background: #8654ff;
}
.theme-default .bg-02 {
  background: #46baff;
}
.theme-default .bg-03 {
  background: #ffffff;
}
.theme-default .bg-04 {
  background: #8654ff;
}
.theme-default .bg-05 {
  background: #c0d8f3;
}
.theme-default .btn-01 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-02 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-03 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-04 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-05 {
  background: #6feeee;
  color: #000000;
}
/**--E background color */
.ui-layout,
.layout-default .ui-layout-north,
.layout-default .ui-layout-west,
.layout-default .ui-layout-center,
.layout-default.flex-zoom .ui-layout-north,
.layout-default .ui-layout-east,
.layout-default .ui-layout-south,
.layout-mobile .ui-layout-north,
.layout-mobile .ui-layout-west,
.layout-mobile .ui-layout-center,
.layout-mobile .ui-layout-east,
.layout-mobile .ui-layout-south,
.theme-default .box-container,
.theme-default .box-group,
.theme-default .box,
.theme-default .input,
.theme-default .input .input-lbl,
.theme-default .input .input-area {
  float: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
/**--S margin padding height width **/
.w1 {
  width: 1px !important;
}
.h1 {
  height: 1px !important;
}
.w2 {
  width: 2px !important;
}
.h2 {
  height: 2px !important;
}
.w3 {
  width: 3px !important;
}
.h3 {
  height: 3px !important;
}
.w4 {
  width: 4px !important;
}
.h4 {
  height: 4px !important;
}
.w5 {
  width: 5px !important;
}
.h5 {
  height: 5px !important;
}
.w6 {
  width: 6px !important;
}
.h6 {
  height: 6px !important;
}
.w7 {
  width: 7px !important;
}
.h7 {
  height: 7px !important;
}
.w8 {
  width: 8px !important;
}
.h8 {
  height: 8px !important;
}
.w9 {
  width: 9px !important;
}
.h9 {
  height: 9px !important;
}
.w10 {
  width: 10px !important;
}
.h10 {
  height: 10px !important;
}
.w11 {
  width: 11px !important;
}
.h11 {
  height: 11px !important;
}
.w12 {
  width: 12px !important;
}
.h12 {
  height: 12px !important;
}
.w13 {
  width: 13px !important;
}
.h13 {
  height: 13px !important;
}
.w14 {
  width: 14px !important;
}
.h14 {
  height: 14px !important;
}
.w15 {
  width: 15px !important;
}
.h15 {
  height: 15px !important;
}
.w16 {
  width: 16px !important;
}
.h16 {
  height: 16px !important;
}
.w17 {
  width: 17px !important;
}
.h17 {
  height: 17px !important;
}
.w18 {
  width: 18px !important;
}
.h18 {
  height: 18px !important;
}
.w19 {
  width: 19px !important;
}
.h19 {
  height: 19px !important;
}
.w20 {
  width: 20px !important;
}
.h20 {
  height: 20px !important;
}
.w21 {
  width: 21px !important;
}
.h21 {
  height: 21px !important;
}
.w22 {
  width: 22px !important;
}
.h22 {
  height: 22px !important;
}
.w23 {
  width: 23px !important;
}
.h23 {
  height: 23px !important;
}
.w24 {
  width: 24px !important;
}
.h24 {
  height: 24px !important;
}
.w25 {
  width: 25px !important;
}
.h25 {
  height: 25px !important;
}
.w26 {
  width: 26px !important;
}
.h26 {
  height: 26px !important;
}
.w27 {
  width: 27px !important;
}
.h27 {
  height: 27px !important;
}
.w28 {
  width: 28px !important;
}
.h28 {
  height: 28px !important;
}
.w29 {
  width: 29px !important;
}
.h29 {
  height: 29px !important;
}
.w30 {
  width: 30px !important;
}
.h30 {
  height: 30px !important;
}
.w31 {
  width: 31px !important;
}
.h31 {
  height: 31px !important;
}
.w32 {
  width: 32px !important;
}
.h32 {
  height: 32px !important;
}
.w33 {
  width: 33px !important;
}
.h33 {
  height: 33px !important;
}
.w34 {
  width: 34px !important;
}
.h34 {
  height: 34px !important;
}
.w35 {
  width: 35px !important;
}
.h35 {
  height: 35px !important;
}
.w36 {
  width: 36px !important;
}
.h36 {
  height: 36px !important;
}
.w37 {
  width: 37px !important;
}
.h37 {
  height: 37px !important;
}
.w38 {
  width: 38px !important;
}
.h38 {
  height: 38px !important;
}
.w39 {
  width: 39px !important;
}
.h39 {
  height: 39px !important;
}
.w40 {
  width: 40px !important;
}
.h40 {
  height: 40px !important;
}
.w41 {
  width: 41px !important;
}
.h41 {
  height: 41px !important;
}
.w42 {
  width: 42px !important;
}
.h42 {
  height: 42px !important;
}
.w43 {
  width: 43px !important;
}
.h43 {
  height: 43px !important;
}
.w44 {
  width: 44px !important;
}
.h44 {
  height: 44px !important;
}
.w45 {
  width: 45px !important;
}
.h45 {
  height: 45px !important;
}
.w46 {
  width: 46px !important;
}
.h46 {
  height: 46px !important;
}
.w47 {
  width: 47px !important;
}
.h47 {
  height: 47px !important;
}
.w48 {
  width: 48px !important;
}
.h48 {
  height: 48px !important;
}
.w49 {
  width: 49px !important;
}
.h49 {
  height: 49px !important;
}
.w50 {
  width: 50px !important;
}
.h50 {
  height: 50px !important;
}
.w51 {
  width: 51px !important;
}
.h51 {
  height: 51px !important;
}
.w52 {
  width: 52px !important;
}
.h52 {
  height: 52px !important;
}
.w53 {
  width: 53px !important;
}
.h53 {
  height: 53px !important;
}
.w54 {
  width: 54px !important;
}
.h54 {
  height: 54px !important;
}
.w55 {
  width: 55px !important;
}
.h55 {
  height: 55px !important;
}
.w56 {
  width: 56px !important;
}
.h56 {
  height: 56px !important;
}
.w57 {
  width: 57px !important;
}
.h57 {
  height: 57px !important;
}
.w58 {
  width: 58px !important;
}
.h58 {
  height: 58px !important;
}
.w59 {
  width: 59px !important;
}
.h59 {
  height: 59px !important;
}
.w60 {
  width: 60px !important;
}
.h60 {
  height: 60px !important;
}
.w61 {
  width: 61px !important;
}
.h61 {
  height: 61px !important;
}
.w62 {
  width: 62px !important;
}
.h62 {
  height: 62px !important;
}
.w63 {
  width: 63px !important;
}
.h63 {
  height: 63px !important;
}
.w64 {
  width: 64px !important;
}
.h64 {
  height: 64px !important;
}
.w65 {
  width: 65px !important;
}
.h65 {
  height: 65px !important;
}
.w66 {
  width: 66px !important;
}
.h66 {
  height: 66px !important;
}
.w67 {
  width: 67px !important;
}
.h67 {
  height: 67px !important;
}
.w68 {
  width: 68px !important;
}
.h68 {
  height: 68px !important;
}
.w69 {
  width: 69px !important;
}
.h69 {
  height: 69px !important;
}
.w70 {
  width: 70px !important;
}
.h70 {
  height: 70px !important;
}
.w71 {
  width: 71px !important;
}
.h71 {
  height: 71px !important;
}
.w72 {
  width: 72px !important;
}
.h72 {
  height: 72px !important;
}
.w73 {
  width: 73px !important;
}
.h73 {
  height: 73px !important;
}
.w74 {
  width: 74px !important;
}
.h74 {
  height: 74px !important;
}
.w75 {
  width: 75px !important;
}
.h75 {
  height: 75px !important;
}
.w76 {
  width: 76px !important;
}
.h76 {
  height: 76px !important;
}
.w77 {
  width: 77px !important;
}
.h77 {
  height: 77px !important;
}
.w78 {
  width: 78px !important;
}
.h78 {
  height: 78px !important;
}
.w79 {
  width: 79px !important;
}
.h79 {
  height: 79px !important;
}
.w80 {
  width: 80px !important;
}
.h80 {
  height: 80px !important;
}
.w81 {
  width: 81px !important;
}
.h81 {
  height: 81px !important;
}
.w82 {
  width: 82px !important;
}
.h82 {
  height: 82px !important;
}
.w83 {
  width: 83px !important;
}
.h83 {
  height: 83px !important;
}
.w84 {
  width: 84px !important;
}
.h84 {
  height: 84px !important;
}
.w85 {
  width: 85px !important;
}
.h85 {
  height: 85px !important;
}
.w86 {
  width: 86px !important;
}
.h86 {
  height: 86px !important;
}
.w87 {
  width: 87px !important;
}
.h87 {
  height: 87px !important;
}
.w88 {
  width: 88px !important;
}
.h88 {
  height: 88px !important;
}
.w89 {
  width: 89px !important;
}
.h89 {
  height: 89px !important;
}
.w90 {
  width: 90px !important;
}
.h90 {
  height: 90px !important;
}
.w91 {
  width: 91px !important;
}
.h91 {
  height: 91px !important;
}
.w92 {
  width: 92px !important;
}
.h92 {
  height: 92px !important;
}
.w93 {
  width: 93px !important;
}
.h93 {
  height: 93px !important;
}
.w94 {
  width: 94px !important;
}
.h94 {
  height: 94px !important;
}
.w95 {
  width: 95px !important;
}
.h95 {
  height: 95px !important;
}
.w96 {
  width: 96px !important;
}
.h96 {
  height: 96px !important;
}
.w97 {
  width: 97px !important;
}
.h97 {
  height: 97px !important;
}
.w98 {
  width: 98px !important;
}
.h98 {
  height: 98px !important;
}
.w99 {
  width: 99px !important;
}
.h99 {
  height: 99px !important;
}
.w100 {
  width: 100px !important;
}
.h100 {
  height: 100px !important;
}
.w101 {
  width: 101px !important;
}
.h101 {
  height: 101px !important;
}
.w102 {
  width: 102px !important;
}
.h102 {
  height: 102px !important;
}
.w103 {
  width: 103px !important;
}
.h103 {
  height: 103px !important;
}
.w104 {
  width: 104px !important;
}
.h104 {
  height: 104px !important;
}
.w105 {
  width: 105px !important;
}
.h105 {
  height: 105px !important;
}
.w106 {
  width: 106px !important;
}
.h106 {
  height: 106px !important;
}
.w107 {
  width: 107px !important;
}
.h107 {
  height: 107px !important;
}
.w108 {
  width: 108px !important;
}
.h108 {
  height: 108px !important;
}
.w109 {
  width: 109px !important;
}
.h109 {
  height: 109px !important;
}
.w110 {
  width: 110px !important;
}
.h110 {
  height: 110px !important;
}
.w111 {
  width: 111px !important;
}
.h111 {
  height: 111px !important;
}
.w112 {
  width: 112px !important;
}
.h112 {
  height: 112px !important;
}
.w113 {
  width: 113px !important;
}
.h113 {
  height: 113px !important;
}
.w114 {
  width: 114px !important;
}
.h114 {
  height: 114px !important;
}
.w115 {
  width: 115px !important;
}
.h115 {
  height: 115px !important;
}
.w116 {
  width: 116px !important;
}
.h116 {
  height: 116px !important;
}
.w117 {
  width: 117px !important;
}
.h117 {
  height: 117px !important;
}
.w118 {
  width: 118px !important;
}
.h118 {
  height: 118px !important;
}
.w119 {
  width: 119px !important;
}
.h119 {
  height: 119px !important;
}
.w120 {
  width: 120px !important;
}
.h120 {
  height: 120px !important;
}
.w121 {
  width: 121px !important;
}
.h121 {
  height: 121px !important;
}
.w122 {
  width: 122px !important;
}
.h122 {
  height: 122px !important;
}
.w123 {
  width: 123px !important;
}
.h123 {
  height: 123px !important;
}
.w124 {
  width: 124px !important;
}
.h124 {
  height: 124px !important;
}
.w125 {
  width: 125px !important;
}
.h125 {
  height: 125px !important;
}
.w126 {
  width: 126px !important;
}
.h126 {
  height: 126px !important;
}
.w127 {
  width: 127px !important;
}
.h127 {
  height: 127px !important;
}
.w128 {
  width: 128px !important;
}
.h128 {
  height: 128px !important;
}
.w129 {
  width: 129px !important;
}
.h129 {
  height: 129px !important;
}
.w130 {
  width: 130px !important;
}
.h130 {
  height: 130px !important;
}
.w131 {
  width: 131px !important;
}
.h131 {
  height: 131px !important;
}
.w132 {
  width: 132px !important;
}
.h132 {
  height: 132px !important;
}
.w133 {
  width: 133px !important;
}
.h133 {
  height: 133px !important;
}
.w134 {
  width: 134px !important;
}
.h134 {
  height: 134px !important;
}
.w135 {
  width: 135px !important;
}
.h135 {
  height: 135px !important;
}
.w136 {
  width: 136px !important;
}
.h136 {
  height: 136px !important;
}
.w137 {
  width: 137px !important;
}
.h137 {
  height: 137px !important;
}
.w138 {
  width: 138px !important;
}
.h138 {
  height: 138px !important;
}
.w139 {
  width: 139px !important;
}
.h139 {
  height: 139px !important;
}
.w140 {
  width: 140px !important;
}
.h140 {
  height: 140px !important;
}
.w141 {
  width: 141px !important;
}
.h141 {
  height: 141px !important;
}
.w142 {
  width: 142px !important;
}
.h142 {
  height: 142px !important;
}
.w143 {
  width: 143px !important;
}
.h143 {
  height: 143px !important;
}
.w144 {
  width: 144px !important;
}
.h144 {
  height: 144px !important;
}
.w145 {
  width: 145px !important;
}
.h145 {
  height: 145px !important;
}
.w146 {
  width: 146px !important;
}
.h146 {
  height: 146px !important;
}
.w147 {
  width: 147px !important;
}
.h147 {
  height: 147px !important;
}
.w148 {
  width: 148px !important;
}
.h148 {
  height: 148px !important;
}
.w149 {
  width: 149px !important;
}
.h149 {
  height: 149px !important;
}
.w150 {
  width: 150px !important;
}
.h150 {
  height: 150px !important;
}
.w151 {
  width: 151px !important;
}
.h151 {
  height: 151px !important;
}
.w152 {
  width: 152px !important;
}
.h152 {
  height: 152px !important;
}
.w153 {
  width: 153px !important;
}
.h153 {
  height: 153px !important;
}
.w154 {
  width: 154px !important;
}
.h154 {
  height: 154px !important;
}
.w155 {
  width: 155px !important;
}
.h155 {
  height: 155px !important;
}
.w156 {
  width: 156px !important;
}
.h156 {
  height: 156px !important;
}
.w157 {
  width: 157px !important;
}
.h157 {
  height: 157px !important;
}
.w158 {
  width: 158px !important;
}
.h158 {
  height: 158px !important;
}
.w159 {
  width: 159px !important;
}
.h159 {
  height: 159px !important;
}
.w160 {
  width: 160px !important;
}
.h160 {
  height: 160px !important;
}
.w161 {
  width: 161px !important;
}
.h161 {
  height: 161px !important;
}
.w162 {
  width: 162px !important;
}
.h162 {
  height: 162px !important;
}
.w163 {
  width: 163px !important;
}
.h163 {
  height: 163px !important;
}
.w164 {
  width: 164px !important;
}
.h164 {
  height: 164px !important;
}
.w165 {
  width: 165px !important;
}
.h165 {
  height: 165px !important;
}
.w166 {
  width: 166px !important;
}
.h166 {
  height: 166px !important;
}
.w167 {
  width: 167px !important;
}
.h167 {
  height: 167px !important;
}
.w168 {
  width: 168px !important;
}
.h168 {
  height: 168px !important;
}
.w169 {
  width: 169px !important;
}
.h169 {
  height: 169px !important;
}
.w170 {
  width: 170px !important;
}
.h170 {
  height: 170px !important;
}
.w171 {
  width: 171px !important;
}
.h171 {
  height: 171px !important;
}
.w172 {
  width: 172px !important;
}
.h172 {
  height: 172px !important;
}
.w173 {
  width: 173px !important;
}
.h173 {
  height: 173px !important;
}
.w174 {
  width: 174px !important;
}
.h174 {
  height: 174px !important;
}
.w175 {
  width: 175px !important;
}
.h175 {
  height: 175px !important;
}
.w176 {
  width: 176px !important;
}
.h176 {
  height: 176px !important;
}
.w177 {
  width: 177px !important;
}
.h177 {
  height: 177px !important;
}
.w178 {
  width: 178px !important;
}
.h178 {
  height: 178px !important;
}
.w179 {
  width: 179px !important;
}
.h179 {
  height: 179px !important;
}
.w180 {
  width: 180px !important;
}
.h180 {
  height: 180px !important;
}
.w181 {
  width: 181px !important;
}
.h181 {
  height: 181px !important;
}
.w182 {
  width: 182px !important;
}
.h182 {
  height: 182px !important;
}
.w183 {
  width: 183px !important;
}
.h183 {
  height: 183px !important;
}
.w184 {
  width: 184px !important;
}
.h184 {
  height: 184px !important;
}
.w185 {
  width: 185px !important;
}
.h185 {
  height: 185px !important;
}
.w186 {
  width: 186px !important;
}
.h186 {
  height: 186px !important;
}
.w187 {
  width: 187px !important;
}
.h187 {
  height: 187px !important;
}
.w188 {
  width: 188px !important;
}
.h188 {
  height: 188px !important;
}
.w189 {
  width: 189px !important;
}
.h189 {
  height: 189px !important;
}
.w190 {
  width: 190px !important;
}
.h190 {
  height: 190px !important;
}
.w191 {
  width: 191px !important;
}
.h191 {
  height: 191px !important;
}
.w192 {
  width: 192px !important;
}
.h192 {
  height: 192px !important;
}
.w193 {
  width: 193px !important;
}
.h193 {
  height: 193px !important;
}
.w194 {
  width: 194px !important;
}
.h194 {
  height: 194px !important;
}
.w195 {
  width: 195px !important;
}
.h195 {
  height: 195px !important;
}
.w196 {
  width: 196px !important;
}
.h196 {
  height: 196px !important;
}
.w197 {
  width: 197px !important;
}
.h197 {
  height: 197px !important;
}
.w198 {
  width: 198px !important;
}
.h198 {
  height: 198px !important;
}
.w199 {
  width: 199px !important;
}
.h199 {
  height: 199px !important;
}
.w200 {
  width: 200px !important;
}
.h200 {
  height: 200px !important;
}
.w200 {
  width: 200px !important;
}
.h200 {
  height: 200px !important;
}
.w250 {
  width: 250px !important;
}
.h250 {
  height: 250px !important;
}
.w300 {
  width: 300px !important;
}
.h300 {
  height: 300px !important;
}
.w350 {
  width: 350px !important;
}
.h350 {
  height: 350px !important;
}
.w400 {
  width: 400px !important;
}
.h400 {
  height: 400px !important;
}
.w450 {
  width: 450px !important;
}
.h450 {
  height: 450px !important;
}
.w500 {
  width: 500px !important;
}
.h500 {
  height: 500px !important;
}
.w550 {
  width: 550px !important;
}
.h550 {
  height: 550px !important;
}
.w600 {
  width: 600px !important;
}
.h600 {
  height: 600px !important;
}
.w650 {
  width: 650px !important;
}
.h650 {
  height: 650px !important;
}
.w700 {
  width: 700px !important;
}
.h700 {
  height: 700px !important;
}
.w750 {
  width: 750px !important;
}
.h750 {
  height: 750px !important;
}
.w800 {
  width: 800px !important;
}
.h800 {
  height: 800px !important;
}
.w850 {
  width: 850px !important;
}
.h850 {
  height: 850px !important;
}
.w900 {
  width: 900px !important;
}
.h900 {
  height: 900px !important;
}
.w950 {
  width: 950px !important;
}
.h950 {
  height: 950px !important;
}
.w1000 {
  width: 1000px !important;
}
.h1000 {
  height: 1000px !important;
}
.w1p {
  width: 1% !important;
}
.h1p {
  height: 1% !important;
}
.w2p {
  width: 2% !important;
}
.h2p {
  height: 2% !important;
}
.w3p {
  width: 3% !important;
}
.h3p {
  height: 3% !important;
}
.w4p {
  width: 4% !important;
}
.h4p {
  height: 4% !important;
}
.w5p {
  width: 5% !important;
}
.h5p {
  height: 5% !important;
}
.w6p {
  width: 6% !important;
}
.h6p {
  height: 6% !important;
}
.w7p {
  width: 7% !important;
}
.h7p {
  height: 7% !important;
}
.w8p {
  width: 8% !important;
}
.h8p {
  height: 8% !important;
}
.w9p {
  width: 9% !important;
}
.h9p {
  height: 9% !important;
}
.w10p {
  width: 10% !important;
}
.h10p {
  height: 10% !important;
}
.w11p {
  width: 11% !important;
}
.h11p {
  height: 11% !important;
}
.w12p {
  width: 12% !important;
}
.h12p {
  height: 12% !important;
}
.w13p {
  width: 13% !important;
}
.h13p {
  height: 13% !important;
}
.w14p {
  width: 14% !important;
}
.h14p {
  height: 14% !important;
}
.w15p {
  width: 15% !important;
}
.h15p {
  height: 15% !important;
}
.w16p {
  width: 16% !important;
}
.h16p {
  height: 16% !important;
}
.w17p {
  width: 17% !important;
}
.h17p {
  height: 17% !important;
}
.w18p {
  width: 18% !important;
}
.h18p {
  height: 18% !important;
}
.w19p {
  width: 19% !important;
}
.h19p {
  height: 19% !important;
}
.w20p {
  width: 20% !important;
}
.h20p {
  height: 20% !important;
}
.w21p {
  width: 21% !important;
}
.h21p {
  height: 21% !important;
}
.w22p {
  width: 22% !important;
}
.h22p {
  height: 22% !important;
}
.w23p {
  width: 23% !important;
}
.h23p {
  height: 23% !important;
}
.w24p {
  width: 24% !important;
}
.h24p {
  height: 24% !important;
}
.w25p {
  width: 25% !important;
}
.h25p {
  height: 25% !important;
}
.w26p {
  width: 26% !important;
}
.h26p {
  height: 26% !important;
}
.w27p {
  width: 27% !important;
}
.h27p {
  height: 27% !important;
}
.w28p {
  width: 28% !important;
}
.h28p {
  height: 28% !important;
}
.w29p {
  width: 29% !important;
}
.h29p {
  height: 29% !important;
}
.w30p {
  width: 30% !important;
}
.h30p {
  height: 30% !important;
}
.w31p {
  width: 31% !important;
}
.h31p {
  height: 31% !important;
}
.w32p {
  width: 32% !important;
}
.h32p {
  height: 32% !important;
}
.w33p {
  width: 33% !important;
}
.h33p {
  height: 33% !important;
}
.w34p {
  width: 34% !important;
}
.h34p {
  height: 34% !important;
}
.w35p {
  width: 35% !important;
}
.h35p {
  height: 35% !important;
}
.w36p {
  width: 36% !important;
}
.h36p {
  height: 36% !important;
}
.w37p {
  width: 37% !important;
}
.h37p {
  height: 37% !important;
}
.w38p {
  width: 38% !important;
}
.h38p {
  height: 38% !important;
}
.w39p {
  width: 39% !important;
}
.h39p {
  height: 39% !important;
}
.w40p {
  width: 40% !important;
}
.h40p {
  height: 40% !important;
}
.w41p {
  width: 41% !important;
}
.h41p {
  height: 41% !important;
}
.w42p {
  width: 42% !important;
}
.h42p {
  height: 42% !important;
}
.w43p {
  width: 43% !important;
}
.h43p {
  height: 43% !important;
}
.w44p {
  width: 44% !important;
}
.h44p {
  height: 44% !important;
}
.w45p {
  width: 45% !important;
}
.h45p {
  height: 45% !important;
}
.w46p {
  width: 46% !important;
}
.h46p {
  height: 46% !important;
}
.w47p {
  width: 47% !important;
}
.h47p {
  height: 47% !important;
}
.w48p {
  width: 48% !important;
}
.h48p {
  height: 48% !important;
}
.w49p {
  width: 49% !important;
}
.h49p {
  height: 49% !important;
}
.w50p {
  width: 50% !important;
}
.h50p {
  height: 50% !important;
}
.w51p {
  width: 51% !important;
}
.h51p {
  height: 51% !important;
}
.w52p {
  width: 52% !important;
}
.h52p {
  height: 52% !important;
}
.w53p {
  width: 53% !important;
}
.h53p {
  height: 53% !important;
}
.w54p {
  width: 54% !important;
}
.h54p {
  height: 54% !important;
}
.w55p {
  width: 55% !important;
}
.h55p {
  height: 55% !important;
}
.w56p {
  width: 56% !important;
}
.h56p {
  height: 56% !important;
}
.w57p {
  width: 57% !important;
}
.h57p {
  height: 57% !important;
}
.w58p {
  width: 58% !important;
}
.h58p {
  height: 58% !important;
}
.w59p {
  width: 59% !important;
}
.h59p {
  height: 59% !important;
}
.w60p {
  width: 60% !important;
}
.h60p {
  height: 60% !important;
}
.w61p {
  width: 61% !important;
}
.h61p {
  height: 61% !important;
}
.w62p {
  width: 62% !important;
}
.h62p {
  height: 62% !important;
}
.w63p {
  width: 63% !important;
}
.h63p {
  height: 63% !important;
}
.w64p {
  width: 64% !important;
}
.h64p {
  height: 64% !important;
}
.w65p {
  width: 65% !important;
}
.h65p {
  height: 65% !important;
}
.w66p {
  width: 66% !important;
}
.h66p {
  height: 66% !important;
}
.w67p {
  width: 67% !important;
}
.h67p {
  height: 67% !important;
}
.w68p {
  width: 68% !important;
}
.h68p {
  height: 68% !important;
}
.w69p {
  width: 69% !important;
}
.h69p {
  height: 69% !important;
}
.w70p {
  width: 70% !important;
}
.h70p {
  height: 70% !important;
}
.w71p {
  width: 71% !important;
}
.h71p {
  height: 71% !important;
}
.w72p {
  width: 72% !important;
}
.h72p {
  height: 72% !important;
}
.w73p {
  width: 73% !important;
}
.h73p {
  height: 73% !important;
}
.w74p {
  width: 74% !important;
}
.h74p {
  height: 74% !important;
}
.w75p {
  width: 75% !important;
}
.h75p {
  height: 75% !important;
}
.w76p {
  width: 76% !important;
}
.h76p {
  height: 76% !important;
}
.w77p {
  width: 77% !important;
}
.h77p {
  height: 77% !important;
}
.w78p {
  width: 78% !important;
}
.h78p {
  height: 78% !important;
}
.w79p {
  width: 79% !important;
}
.h79p {
  height: 79% !important;
}
.w80p {
  width: 80% !important;
}
.h80p {
  height: 80% !important;
}
.w81p {
  width: 81% !important;
}
.h81p {
  height: 81% !important;
}
.w82p {
  width: 82% !important;
}
.h82p {
  height: 82% !important;
}
.w83p {
  width: 83% !important;
}
.h83p {
  height: 83% !important;
}
.w84p {
  width: 84% !important;
}
.h84p {
  height: 84% !important;
}
.w85p {
  width: 85% !important;
}
.h85p {
  height: 85% !important;
}
.w86p {
  width: 86% !important;
}
.h86p {
  height: 86% !important;
}
.w87p {
  width: 87% !important;
}
.h87p {
  height: 87% !important;
}
.w88p {
  width: 88% !important;
}
.h88p {
  height: 88% !important;
}
.w89p {
  width: 89% !important;
}
.h89p {
  height: 89% !important;
}
.w90p {
  width: 90% !important;
}
.h90p {
  height: 90% !important;
}
.w91p {
  width: 91% !important;
}
.h91p {
  height: 91% !important;
}
.w92p {
  width: 92% !important;
}
.h92p {
  height: 92% !important;
}
.w93p {
  width: 93% !important;
}
.h93p {
  height: 93% !important;
}
.w94p {
  width: 94% !important;
}
.h94p {
  height: 94% !important;
}
.w95p {
  width: 95% !important;
}
.h95p {
  height: 95% !important;
}
.w96p {
  width: 96% !important;
}
.h96p {
  height: 96% !important;
}
.w97p {
  width: 97% !important;
}
.h97p {
  height: 97% !important;
}
.w98p {
  width: 98% !important;
}
.h98p {
  height: 98% !important;
}
.w99p {
  width: 99% !important;
}
.h99p {
  height: 99% !important;
}
.w100p {
  width: 100% !important;
}
.h100p {
  height: 100% !important;
}
.pt-10 {
  padding-top: -10px !important;
}
.pr-10 {
  padding-right: -10px !important;
}
.pb-10 {
  padding-bottom: -10px !important;
}
.pl-10 {
  padding-left: -10px !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mr-10 {
  margin-right: -10px !important;
}
.mb-10 {
  margin-bottom: -10px !important;
}
.ml-10 {
  margin-left: -10px !important;
}
.m-10 {
  margin: -10px !important;
}
.pt-9 {
  padding-top: -9px !important;
}
.pr-9 {
  padding-right: -9px !important;
}
.pb-9 {
  padding-bottom: -9px !important;
}
.pl-9 {
  padding-left: -9px !important;
}
.mt-9 {
  margin-top: -9px !important;
}
.mr-9 {
  margin-right: -9px !important;
}
.mb-9 {
  margin-bottom: -9px !important;
}
.ml-9 {
  margin-left: -9px !important;
}
.m-9 {
  margin: -9px !important;
}
.pt-8 {
  padding-top: -8px !important;
}
.pr-8 {
  padding-right: -8px !important;
}
.pb-8 {
  padding-bottom: -8px !important;
}
.pl-8 {
  padding-left: -8px !important;
}
.mt-8 {
  margin-top: -8px !important;
}
.mr-8 {
  margin-right: -8px !important;
}
.mb-8 {
  margin-bottom: -8px !important;
}
.ml-8 {
  margin-left: -8px !important;
}
.m-8 {
  margin: -8px !important;
}
.pt-7 {
  padding-top: -7px !important;
}
.pr-7 {
  padding-right: -7px !important;
}
.pb-7 {
  padding-bottom: -7px !important;
}
.pl-7 {
  padding-left: -7px !important;
}
.mt-7 {
  margin-top: -7px !important;
}
.mr-7 {
  margin-right: -7px !important;
}
.mb-7 {
  margin-bottom: -7px !important;
}
.ml-7 {
  margin-left: -7px !important;
}
.m-7 {
  margin: -7px !important;
}
.pt-6 {
  padding-top: -6px !important;
}
.pr-6 {
  padding-right: -6px !important;
}
.pb-6 {
  padding-bottom: -6px !important;
}
.pl-6 {
  padding-left: -6px !important;
}
.mt-6 {
  margin-top: -6px !important;
}
.mr-6 {
  margin-right: -6px !important;
}
.mb-6 {
  margin-bottom: -6px !important;
}
.ml-6 {
  margin-left: -6px !important;
}
.m-6 {
  margin: -6px !important;
}
.pt-5 {
  padding-top: -5px !important;
}
.pr-5 {
  padding-right: -5px !important;
}
.pb-5 {
  padding-bottom: -5px !important;
}
.pl-5 {
  padding-left: -5px !important;
}
.mt-5 {
  margin-top: -5px !important;
}
.mr-5 {
  margin-right: -5px !important;
}
.mb-5 {
  margin-bottom: -5px !important;
}
.ml-5 {
  margin-left: -5px !important;
}
.m-5 {
  margin: -5px !important;
}
.pt-4 {
  padding-top: -4px !important;
}
.pr-4 {
  padding-right: -4px !important;
}
.pb-4 {
  padding-bottom: -4px !important;
}
.pl-4 {
  padding-left: -4px !important;
}
.mt-4 {
  margin-top: -4px !important;
}
.mr-4 {
  margin-right: -4px !important;
}
.mb-4 {
  margin-bottom: -4px !important;
}
.ml-4 {
  margin-left: -4px !important;
}
.m-4 {
  margin: -4px !important;
}
.pt-3 {
  padding-top: -3px !important;
}
.pr-3 {
  padding-right: -3px !important;
}
.pb-3 {
  padding-bottom: -3px !important;
}
.pl-3 {
  padding-left: -3px !important;
}
.mt-3 {
  margin-top: -3px !important;
}
.mr-3 {
  margin-right: -3px !important;
}
.mb-3 {
  margin-bottom: -3px !important;
}
.ml-3 {
  margin-left: -3px !important;
}
.m-3 {
  margin: -3px !important;
}
.pt-2 {
  padding-top: -2px !important;
}
.pr-2 {
  padding-right: -2px !important;
}
.pb-2 {
  padding-bottom: -2px !important;
}
.pl-2 {
  padding-left: -2px !important;
}
.mt-2 {
  margin-top: -2px !important;
}
.mr-2 {
  margin-right: -2px !important;
}
.mb-2 {
  margin-bottom: -2px !important;
}
.ml-2 {
  margin-left: -2px !important;
}
.m-2 {
  margin: -2px !important;
}
.pt-1 {
  padding-top: -1px !important;
}
.pr-1 {
  padding-right: -1px !important;
}
.pb-1 {
  padding-bottom: -1px !important;
}
.pl-1 {
  padding-left: -1px !important;
}
.mt-1 {
  margin-top: -1px !important;
}
.mr-1 {
  margin-right: -1px !important;
}
.mb-1 {
  margin-bottom: -1px !important;
}
.ml-1 {
  margin-left: -1px !important;
}
.m-1 {
  margin: -1px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.m0 {
  margin: 0px !important;
}
.pt1 {
  padding-top: 1px !important;
}
.pr1 {
  padding-right: 1px !important;
}
.pb1 {
  padding-bottom: 1px !important;
}
.pl1 {
  padding-left: 1px !important;
}
.mt1 {
  margin-top: 1px !important;
}
.mr1 {
  margin-right: 1px !important;
}
.mb1 {
  margin-bottom: 1px !important;
}
.ml1 {
  margin-left: 1px !important;
}
.m1 {
  margin: 1px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pr2 {
  padding-right: 2px !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pl2 {
  padding-left: 2px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.ml2 {
  margin-left: 2px !important;
}
.m2 {
  margin: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pl3 {
  padding-left: 3px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.m3 {
  margin: 3px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.m4 {
  margin: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.m5 {
  margin: 5px !important;
}
.pt6 {
  padding-top: 6px !important;
}
.pr6 {
  padding-right: 6px !important;
}
.pb6 {
  padding-bottom: 6px !important;
}
.pl6 {
  padding-left: 6px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.ml6 {
  margin-left: 6px !important;
}
.m6 {
  margin: 6px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.m7 {
  margin: 7px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.m8 {
  margin: 8px !important;
}
.pt9 {
  padding-top: 9px !important;
}
.pr9 {
  padding-right: 9px !important;
}
.pb9 {
  padding-bottom: 9px !important;
}
.pl9 {
  padding-left: 9px !important;
}
.mt9 {
  margin-top: 9px !important;
}
.mr9 {
  margin-right: 9px !important;
}
.mb9 {
  margin-bottom: 9px !important;
}
.ml9 {
  margin-left: 9px !important;
}
.m9 {
  margin: 9px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.m10 {
  margin: 10px !important;
}
.pt11 {
  padding-top: 11px !important;
}
.pr11 {
  padding-right: 11px !important;
}
.pb11 {
  padding-bottom: 11px !important;
}
.pl11 {
  padding-left: 11px !important;
}
.mt11 {
  margin-top: 11px !important;
}
.mr11 {
  margin-right: 11px !important;
}
.mb11 {
  margin-bottom: 11px !important;
}
.ml11 {
  margin-left: 11px !important;
}
.m11 {
  margin: 11px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.m12 {
  margin: 12px !important;
}
.pt13 {
  padding-top: 13px !important;
}
.pr13 {
  padding-right: 13px !important;
}
.pb13 {
  padding-bottom: 13px !important;
}
.pl13 {
  padding-left: 13px !important;
}
.mt13 {
  margin-top: 13px !important;
}
.mr13 {
  margin-right: 13px !important;
}
.mb13 {
  margin-bottom: 13px !important;
}
.ml13 {
  margin-left: 13px !important;
}
.m13 {
  margin: 13px !important;
}
.pt14 {
  padding-top: 14px !important;
}
.pr14 {
  padding-right: 14px !important;
}
.pb14 {
  padding-bottom: 14px !important;
}
.pl14 {
  padding-left: 14px !important;
}
.mt14 {
  margin-top: 14px !important;
}
.mr14 {
  margin-right: 14px !important;
}
.mb14 {
  margin-bottom: 14px !important;
}
.ml14 {
  margin-left: 14px !important;
}
.m14 {
  margin: 14px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.m15 {
  margin: 15px !important;
}
.pt16 {
  padding-top: 16px !important;
}
.pr16 {
  padding-right: 16px !important;
}
.pb16 {
  padding-bottom: 16px !important;
}
.pl16 {
  padding-left: 16px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.ml16 {
  margin-left: 16px !important;
}
.m16 {
  margin: 16px !important;
}
.pt17 {
  padding-top: 17px !important;
}
.pr17 {
  padding-right: 17px !important;
}
.pb17 {
  padding-bottom: 17px !important;
}
.pl17 {
  padding-left: 17px !important;
}
.mt17 {
  margin-top: 17px !important;
}
.mr17 {
  margin-right: 17px !important;
}
.mb17 {
  margin-bottom: 17px !important;
}
.ml17 {
  margin-left: 17px !important;
}
.m17 {
  margin: 17px !important;
}
.pt18 {
  padding-top: 18px !important;
}
.pr18 {
  padding-right: 18px !important;
}
.pb18 {
  padding-bottom: 18px !important;
}
.pl18 {
  padding-left: 18px !important;
}
.mt18 {
  margin-top: 18px !important;
}
.mr18 {
  margin-right: 18px !important;
}
.mb18 {
  margin-bottom: 18px !important;
}
.ml18 {
  margin-left: 18px !important;
}
.m18 {
  margin: 18px !important;
}
.pt19 {
  padding-top: 19px !important;
}
.pr19 {
  padding-right: 19px !important;
}
.pb19 {
  padding-bottom: 19px !important;
}
.pl19 {
  padding-left: 19px !important;
}
.mt19 {
  margin-top: 19px !important;
}
.mr19 {
  margin-right: 19px !important;
}
.mb19 {
  margin-bottom: 19px !important;
}
.ml19 {
  margin-left: 19px !important;
}
.m19 {
  margin: 19px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.m20 {
  margin: 20px !important;
}
/**--S margin padding height width **/
.row-md-1 {
  height: 5%;
}
.row-rem-1 {
  height: 1rem;
}
.row-md-2 {
  height: 10%;
}
.row-rem-2 {
  height: 2rem;
}
.row-md-3 {
  height: 15%;
}
.row-rem-3 {
  height: 3rem;
}
.row-md-4 {
  height: 20%;
}
.row-rem-4 {
  height: 4rem;
}
.row-md-5 {
  height: 25%;
}
.row-rem-5 {
  height: 5rem;
}
.row-md-6 {
  height: 30%;
}
.row-rem-6 {
  height: 6rem;
}
.row-md-7 {
  height: 35%;
}
.row-rem-7 {
  height: 7rem;
}
.row-md-8 {
  height: 40%;
}
.row-rem-8 {
  height: 8rem;
}
.row-md-9 {
  height: 45%;
}
.row-rem-9 {
  height: 9rem;
}
.row-md-10 {
  height: 50%;
}
.row-rem-10 {
  height: 10rem;
}
.row-md-11 {
  height: 55%;
}
.row-rem-11 {
  height: 11rem;
}
.row-md-12 {
  height: 60%;
}
.row-rem-12 {
  height: 12rem;
}
.row-md-13 {
  height: 65%;
}
.row-rem-13 {
  height: 13rem;
}
.row-md-14 {
  height: 70%;
}
.row-rem-14 {
  height: 14rem;
}
.row-md-15 {
  height: 75%;
}
.row-rem-15 {
  height: 15rem;
}
.row-md-16 {
  height: 80%;
}
.row-rem-16 {
  height: 16rem;
}
.row-md-17 {
  height: 85%;
}
.row-rem-17 {
  height: 17rem;
}
.row-md-18 {
  height: 90%;
}
.row-rem-18 {
  height: 18rem;
}
.row-md-19 {
  height: 95%;
}
.row-rem-19 {
  height: 19rem;
}
.row-md-20 {
  height: 100%;
}
.row-rem-20 {
  height: 20rem;
}
