<div class="container container-fluid intro">
    <div class="col-sm-3  menu-bar">
        <ul class=" list-group content-real">
            <li class="list-group-item toggle default" data-toggle="#comp-summary">公司简介</li>
            <li class="list-group-item toggle" data-toggle="#comp-face">公司风采</li>
            <li class="list-group-item toggle" data-toggle="#service-pattern">服务宗旨</li>
            <li class="list-group-item toggle" data-toggle="#social-duty">社会责任</li>
        </ul>
    </div>
    <div class="col-sm-9 content-real">

        <div id="comp-summary">
            <div class="title text-align-center"><h3>公司简介</h3></div>
            <div class="comp-summary-content">

                大型设备陆路运输
                来源：华军物流　　发布时间：2016-08-04
                案例推荐：
                1、与客户沟通了解货情况：和客户沟通后了解到货是到古巴的项目，需要框架的柜子装，品名是钢管，尺寸比较超
                2、 制定运输方案：根据了解到的信息，客人装箱的时候需要到现场监装，上海出口的框架，经由分公司的配合，安排相关人员到现场监装，青岛分支是客人自己到达现场直接监装，在操作的过程中，考虑到装箱加固比较困难，将现场装箱情况一一告知客人，对于加固的要求也达到了客人的满意度。


            </div>
        </div>
        <div id="comp-face">
            <div class="title text-align-center"><h3>公司风采</h3></div>
            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>

        </div>
        <div id="service-pattern">
            <div class="title text-align-center"><h3>服务宗旨</h3></div>
            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>

        </div>
        <div id="social-duty">
            <div class="title text-align-center"><h3>社会责任</h3></div>

            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>
        </div>
    </div>
</div>