<div class="container intro">
    <div id="carousel-ad" class="carousel slide" data-ride="carousel" data-interval="2000">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="item-container">

                </div>
            </div>
            <div class="item">
                <div class="item-container">

                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-ad" role="button" data-slide="prev">
            <i class=" fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#carousel-ad" role="button" data-slide="next">
            <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>