<div>
    <div class="carousel-container">
        <!--<div class="slide-top">
        </div>-->
        <div id="carousel-ad" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">

            <ol class="carousel-indicators">
                <li data-target="#carousel-ad" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-ad" data-slide-to="1"></li>
                <li data-target="#carousel-ad" data-slide-to="2"></li>
                <li data-target="#carousel-ad" data-slide-to="3"></li>
                <!--<li data-target="#carousel-ad" data-slide-to="3"></li>-->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner bb" role="listbox">

                <div class="item active">
                    <div class="item-container" style="background: url('images/slide/one.jpg') no-repeat;"></div>

                </div>
                <div class="item">
                    <div class="item-container" style="background: url('images/slide/two.jpg') no-repeat;"></div>

                </div>
                <div class="item">
                    <div class="item-container" style="background: url('images/slide/three.jpg') no-repeat;"></div>

                </div>
                <div class="item">
                    <div class="item-container" style="background: url('images/slide/six.jpg') no-repeat;"></div>

                </div>
                <!-- <div class="item">
                     <div class="item-container" style="background: url('images/slide/four.jpg') no-repeat;"></div>
                 </div>-->
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-ad" role="button" data-slide="prev">
                <i class=" fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#carousel-ad" role="button" data-slide="next">
                <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="slide-bottom">
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="title bb">
                便捷服务<label class="en">&nbsp;/&nbsp;Convenience Services</label>
            </div>
        </div>
        <div class="container-fluid">
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-vehicle_" aria-hidden="true"></i>
                </div>
            </div>
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-train_" aria-hidden="true"></i>
                </div>
            </div>
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-boat_" aria-hidden="true"></i>
                </div>
            </div>
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-plane_" aria-hidden="true"></i>
                </div>
            </div>
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-store_" aria-hidden="true"></i>
                </div>
            </div>
            <div class="prod-box ">
                <div class="prod-item">
                    <i class="iconfont icon-box_" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="container">-->

    <!--<div class="container-fluid">
        <div class="title bb">
            站内消息
        </div>
    </div>-->

    <div class="container">
        <div class="container-fluid vertical-ticker-container col-sm-6">
            <div class="title bb">
                <span class="">最新托运</span><label class="en">&nbsp;/&nbsp;Latest Delivery</label>
                <label class="more" title="更多..."><i class="glyphicon glyphicon-chevron-right"></i></label>
            </div>
            <ul id="newsTicker1" class="news-vertical-ticker">
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>
                <li>
                    <a href="#" class="col-sm-4">张先生/13733334444</a>
                    <a class="col-sm-3">深圳<i class="iconfont icon-arrow"></i>上海</a>
                    <a class="col-sm-2">已揽件</a>
                    <a class="col-sm-3 text-align-right">2016-12-22</a>
                </li>

            </ul>
        </div>
    </div>
    <!-- </div>-->

    <div class="corp-container pb10">
        <div class="container">

            <div class="container-fluid">
                <div class="title ">
                    合作伙伴<label class="en">&nbsp;/&nbsp;Cooperative Partner</label>
                </div>
            </div>
            <div class="container-fluid">

                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/TBLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/ALLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/TMLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/58LOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/BAIDULOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/GJLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/AMAZONLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>
                <div class="corp-box">
                    <div class="corp-item">
                        <div style="background: url('images/corp/JDLOGO.png') no-repeat;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--

<ul class="fixed-sidebar right">
    <li><a href="/">home</a></li>
    <li><a href="/plugins/">plugins</a></li>
    <li><a href="/works/">works</a></li>
    <li><a href="http://d.hatena.ne.jp/sideroad/">diary</a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="/contact/">contact</a></li>
</ul>-->
