<div class="container container-fluid intro">
    <div class="col-sm-3  menu-bar content-real">
        <ul class=" list-group ">
            <li class="list-group-item title" data-toggle="#comp-summary">关于华军</li>
            <li class="list-group-item toggle default" data-toggle="#comp-summary">公司简介</li>
            <li class="list-group-item toggle" data-toggle="#comp-face">公司风采</li>
            <li class="list-group-item toggle" data-toggle="#service-pattern">服务宗旨</li>
            <li class="list-group-item toggle" data-toggle="#social-duty">社会责任</li>
        </ul>

        <ul class=" list-group content-real sm-hidden">
            <li class="list-group-item title" data-toggle="#comp-summary">联系我们</li>
            <li class="list-group-item">公司风采</li>
            <li class="list-group-item">服务宗旨</li>
            <li class="list-group-item">社会责任</li>
        </ul>
    </div>
    <div class="col-sm-9 content-real">

        <div id="comp-summary" class="part-content">
            <div class="title bb">
                公司简介<label class="en">&nbsp;/&nbsp;About us</label>
            </div>
            <div class="comp-summary-content">
                <pre><code>
        深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；以深圳为中心，公司主营国内公路干线运输、铁路运输、空运代理、海运运输、仓储配送、搬家包装、市内配送、设备迁移、到达派送、提供物流信息咨询及物流方面设计为一体的综合性物流企业。同时，华军物流是全国领先的物流服务咨询商，业务范围覆盖于：北京、天津、济南、石家庄、西安、太原、武汉、郑州、呼和浩特、兰州、银川、西宁、成都、重庆、昆明、贵阳、拉萨、乌鲁木齐、南宁、合肥、南京、苏州、无锡、常州、福州、厦门、广州、深圳、海口、三亚等市级县级地区，并在全国各地加盟了近千家第三方专线联盟合作单位。公司自备及合同签约集装箱货车、配送车千余部和各种装卸机械、停车场，并且全公司实行电脑网络自动化动作。伴随着市场的发展和建立，华军掀开了企业发展进程中新的篇章。

        华军物流以“专业服务，专心专注”为理念，重视知识创新与变革，将高新信息科技与传统物流行业的优良经验相结合，秉承物流现代标准化概念，跃身现代物流行业标杆企业之一。华军物流以共赢为终极目标，已得到了众多一线品牌客户的认可和支持，奠定了华军稳健、迅速发展的基石。

                </code></pre>

                <div id="echart-map-transform" class="w100p" style="height: 600px">

                </div>
            </div>
        </div>
        <div id="comp-face" class="part-content">
            <div class="title bb">
                公司风采<label class="en">&nbsp;/&nbsp;Graceful Bearing</label>
            </div>
            <pre>
<code>
        深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；以深圳为中心，公司主营国内公路干线运输、铁路运输、空运代理、海运运输、仓储配送、搬家包装、市内配送、设备迁移、到达派送、提供物流信息咨询及物流方面设计为一体的综合性物流企业。同时，华军物流是全国领先的物流服务咨询商，业务范围覆盖于：北京、天津、济南、石家庄、西安、太原、武汉、郑州、呼和浩特、兰州、银川、西宁、成都、重庆、昆明、贵阳、拉萨、乌鲁木齐、南宁、合肥、南京、苏州、无锡、常州、福州、厦门、广州、深圳、海口、三亚等市级县级地区，并在全国各地加盟了近千家第三方专线联盟合作单位。公司自备及合同签约集装箱货车、配送车千余部和各种装卸机械、停车场，并且全公司实行电脑网络自动化动作。伴随着市场的发展和建立，华军掀开了企业发展进程中新的篇章。

        华军物流以“专业服务，专心专注”为理念，重视知识创新与变革，将高新信息科技与传统物流行业的优良经验相结合，秉承物流现代标准化概念，跃身现代物流行业标杆企业之一。华军物流以共赢为终极目标，已得到了众多一线品牌客户的认可和支持，奠定了华军稳健、迅速发展的基石。
</code>
                </pre>

        </div>
        <div id="service-pattern" class="part-content">
            <div class="title bb">
                服务宗旨<label class="en">&nbsp;/&nbsp;Service Tenet</label>
            </div>
            <pre>
<code>
        深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；以深圳为中心，公司主营国内公路干线运输、铁路运输、空运代理、海运运输、仓储配送、搬家包装、市内配送、设备迁移、到达派送、提供物流信息咨询及物流方面设计为一体的综合性物流企业。同时，华军物流是全国领先的物流服务咨询商，业务范围覆盖于：北京、天津、济南、石家庄、西安、太原、武汉、郑州、呼和浩特、兰州、银川、西宁、成都、重庆、昆明、贵阳、拉萨、乌鲁木齐、南宁、合肥、南京、苏州、无锡、常州、福州、厦门、广州、深圳、海口、三亚等市级县级地区，并在全国各地加盟了近千家第三方专线联盟合作单位。公司自备及合同签约集装箱货车、配送车千余部和各种装卸机械、停车场，并且全公司实行电脑网络自动化动作。伴随着市场的发展和建立，华军掀开了企业发展进程中新的篇章。

        华军物流以“专业服务，专心专注”为理念，重视知识创新与变革，将高新信息科技与传统物流行业的优良经验相结合，秉承物流现代标准化概念，跃身现代物流行业标杆企业之一。华军物流以共赢为终极目标，已得到了众多一线品牌客户的认可和支持，奠定了华军稳健、迅速发展的基石。
</code>
            </pre>

        </div>
        <div id="social-duty" class="part-content">
            <div class="title bb">
                社会责任<label class="en">&nbsp;/&nbsp;Social Responsibility </label>
            </div>
            <pre>
<code>
        深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；以深圳为中心，公司主营国内公路干线运输、铁路运输、空运代理、海运运输、仓储配送、搬家包装、市内配送、设备迁移、到达派送、提供物流信息咨询及物流方面设计为一体的综合性物流企业。同时，华军物流是全国领先的物流服务咨询商，业务范围覆盖于：北京、天津、济南、石家庄、西安、太原、武汉、郑州、呼和浩特、兰州、银川、西宁、成都、重庆、昆明、贵阳、拉萨、乌鲁木齐、南宁、合肥、南京、苏州、无锡、常州、福州、厦门、广州、深圳、海口、三亚等市级县级地区，并在全国各地加盟了近千家第三方专线联盟合作单位。公司自备及合同签约集装箱货车、配送车千余部和各种装卸机械、停车场，并且全公司实行电脑网络自动化动作。伴随着市场的发展和建立，华军掀开了企业发展进程中新的篇章。

        华军物流以“专业服务，专心专注”为理念，重视知识创新与变革，将高新信息科技与传统物流行业的优良经验相结合，秉承物流现代标准化概念，跃身现代物流行业标杆企业之一。华军物流以共赢为终极目标，已得到了众多一线品牌客户的认可和支持，奠定了华军稳健、迅速发展的基石。
</code>
            </pre>
        </div>
    </div>
</div>