<div class="container container-fluid intro">
    <div class="col-sm-3  menu-bar">
        <ul class=" list-group content-real">
            <li class="list-group-item toggle default" data-toggle="#comp-summary">公司简介</li>
            <li class="list-group-item toggle" data-toggle="#comp-face">公司风采</li>
            <li class="list-group-item toggle" data-toggle="#service-pattern">服务宗旨</li>
            <li class="list-group-item toggle" data-toggle="#social-duty">社会责任</li>
        </ul>
    </div>
    <div class="col-sm-9 content-real">

        <div id="comp-summary">
            <div class="title text-align-center"><h3>公司简介</h3></div>
            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。
                <img src="/images/slide/one.jpg" width="100%" height="250px"/>
            </div>
        </div>
        <div id="comp-face">
            <div class="title text-align-center"><h3>公司风采</h3></div>
            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>

        </div>
        <div id="service-pattern">
            <div class="title text-align-center"><h3>服务宗旨</h3></div>
            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>

        </div>
        <div id="social-duty">
            <div class="title text-align-center"><h3>社会责任</h3></div>

            <div class="comp-summary-content">

                深圳市前海华军物流有限公司是经深圳市工商局批准，注册资金人民币888.88万元；同时，华军物流是亚洲领先的物流服务商，业务覆盖全国各个省级市级区地地区。
                国内物流 【定位于5公斤以上（包含5公斤）的零担货运领域，整合传统物流专线、零担快运网络和信息技术平台， 创造新的商业模式致力打造中国最大的零担快运网络平台】。
                国内物流板块截止目前为止，配送网络已覆盖全国98%GDP区域。国内建立140多个分拨中心，7000多家认证合作伙伴,全国转运中心运营场地总面积达100多万平米，运输车线达1000余条，服务于全国30多个省市、1000多个市县（区）。

            </div>
        </div>
    </div>
</div>