<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huajun56.crm.dao.RouteMapper">
  <resultMap id="BaseResultMap" type="com.huajun56.crm.entity.Route">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_province" jdbcType="VARCHAR" property="fromProvince" />
    <result column="from_city" jdbcType="VARCHAR" property="fromCity" />
    <result column="from_storage" jdbcType="VARCHAR" property="fromStorage" />
    <result column="from_lng" jdbcType="DOUBLE" property="fromLng" />
    <result column="from_lat" jdbcType="DOUBLE" property="fromLat" />
    <result column="to_province" jdbcType="VARCHAR" property="toProvince" />
    <result column="to_city" jdbcType="VARCHAR" property="toCity" />
    <result column="to_storage" jdbcType="VARCHAR" property="toStorage" />
    <result column="to_lng" jdbcType="DOUBLE" property="toLng" />
    <result column="to_lat" jdbcType="DOUBLE" property="toLat" />
    <result column="distance" jdbcType="INTEGER" property="distance" />
    <result column="route_type" jdbcType="INTEGER" property="routeType" />
    <result column="route_trace" jdbcType="VARCHAR" property="routeTrace" />
    <result column="carrier_id" jdbcType="INTEGER" property="carrierId" />
    <result column="contact_people" jdbcType="VARCHAR" property="contactPeople" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="contact_wechat" jdbcType="VARCHAR" property="contactWechat" />
    <result column="contact_qq" jdbcType="VARCHAR" property="contactQq" />
    <result column="more_info" jdbcType="VARCHAR" property="moreInfo" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, from_province, from_city, from_storage, from_lng, from_lat, to_province, to_city, 
    to_storage, to_lng, to_lat, distance, route_type, route_trace, carrier_id, contact_people, 
    contact_mobile, contact_tel, contact_wechat, contact_qq, more_info, disabled, is_del, 
    create_date, create_by, update_date, update_by
  </sql>
  <select id="findByPK" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from crm_route
    where   is_del=0  and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="find" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from crm_route
    <where>
      is_del=0
      <if test="id != null">
         and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="fromProvince != null">
         and from_province=#{fromProvince,jdbcType=VARCHAR}
      </if>
      <if test="fromCity != null">
         and from_city=#{fromCity,jdbcType=VARCHAR}
      </if>
      <if test="fromStorage != null">
         and from_storage=#{fromStorage,jdbcType=VARCHAR}
      </if>
      <if test="fromLng != null">
         and from_lng=#{fromLng,jdbcType=DOUBLE}
      </if>
      <if test="fromLat != null">
         and from_lat=#{fromLat,jdbcType=DOUBLE}
      </if>
      <if test="toProvince != null">
         and to_province=#{toProvince,jdbcType=VARCHAR}
      </if>
      <if test="toCity != null">
         and to_city=#{toCity,jdbcType=VARCHAR}
      </if>
      <if test="toStorage != null">
         and to_storage=#{toStorage,jdbcType=VARCHAR}
      </if>
      <if test="toLng != null">
         and to_lng=#{toLng,jdbcType=DOUBLE}
      </if>
      <if test="toLat != null">
         and to_lat=#{toLat,jdbcType=DOUBLE}
      </if>
      <if test="distance != null">
         and distance=#{distance,jdbcType=INTEGER}
      </if>
      <if test="routeType != null">
         and route_type=#{routeType,jdbcType=INTEGER}
      </if>
      <if test="routeTrace != null">
         and route_trace=#{routeTrace,jdbcType=VARCHAR}
      </if>
      <if test="carrierId != null">
         and carrier_id=#{carrierId,jdbcType=INTEGER}
      </if>
      <if test="contactPeople != null">
         and contact_people=#{contactPeople,jdbcType=VARCHAR}
      </if>
      <if test="contactMobile != null">
         and contact_mobile=#{contactMobile,jdbcType=VARCHAR}
      </if>
      <if test="contactTel != null">
         and contact_tel=#{contactTel,jdbcType=VARCHAR}
      </if>
      <if test="contactWechat != null">
         and contact_wechat=#{contactWechat,jdbcType=VARCHAR}
      </if>
      <if test="contactQq != null">
         and contact_qq=#{contactQq,jdbcType=VARCHAR}
      </if>
      <if test="moreInfo != null">
         and more_info=#{moreInfo,jdbcType=VARCHAR}
      </if>
      <if test="disabled != null">
         and disabled=#{disabled,jdbcType=BIT}
      </if>
      <if test="isDel != null">
         and is_del=#{isDel,jdbcType=BIT}
      </if>
      <if test="createDate != null">
         and create_date=#{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null">
         and create_by=#{createBy,jdbcType=VARCHAR}
      </if>
      <if test="updateDate != null">
         and update_date=#{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
         and update_by=#{updateBy,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <update id="deleteByPK" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
    -->
    update crm_route  set is_del=1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="batchDelete" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
    -->
    update crm_route  set is_del=1
    where id  in  
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
  <insert id="insert" parameterType="com.huajun56.crm.entity.Route">
    <!--
      WARNING - @mbg.generated
    -->
    insert into crm_route (id, from_province, from_city, 
      from_storage, from_lng, from_lat, 
      to_province, to_city, to_storage, 
      to_lng, to_lat, distance, 
      route_type, route_trace, carrier_id, 
      contact_people, contact_mobile, contact_tel, 
      contact_wechat, contact_qq, more_info, 
      disabled, is_del, create_date, 
      create_by, update_date, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{fromProvince,jdbcType=VARCHAR}, #{fromCity,jdbcType=VARCHAR}, 
      #{fromStorage,jdbcType=VARCHAR}, #{fromLng,jdbcType=DOUBLE}, #{fromLat,jdbcType=DOUBLE}, 
      #{toProvince,jdbcType=VARCHAR}, #{toCity,jdbcType=VARCHAR}, #{toStorage,jdbcType=VARCHAR}, 
      #{toLng,jdbcType=DOUBLE}, #{toLat,jdbcType=DOUBLE}, #{distance,jdbcType=INTEGER}, 
      #{routeType,jdbcType=INTEGER}, #{routeTrace,jdbcType=VARCHAR}, #{carrierId,jdbcType=INTEGER}, 
      #{contactPeople,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{contactWechat,jdbcType=VARCHAR}, #{contactQq,jdbcType=VARCHAR}, #{moreInfo,jdbcType=VARCHAR}, 
      #{disabled,jdbcType=BIT}, #{isDel,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huajun56.crm.entity.Route">
    <!--
      WARNING - @mbg.generated
    -->
    insert into crm_route
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fromProvince != null">
        from_province,
      </if>
      <if test="fromCity != null">
        from_city,
      </if>
      <if test="fromStorage != null">
        from_storage,
      </if>
      <if test="fromLng != null">
        from_lng,
      </if>
      <if test="fromLat != null">
        from_lat,
      </if>
      <if test="toProvince != null">
        to_province,
      </if>
      <if test="toCity != null">
        to_city,
      </if>
      <if test="toStorage != null">
        to_storage,
      </if>
      <if test="toLng != null">
        to_lng,
      </if>
      <if test="toLat != null">
        to_lat,
      </if>
      <if test="distance != null">
        distance,
      </if>
      <if test="routeType != null">
        route_type,
      </if>
      <if test="routeTrace != null">
        route_trace,
      </if>
      <if test="carrierId != null">
        carrier_id,
      </if>
      <if test="contactPeople != null">
        contact_people,
      </if>
      <if test="contactMobile != null">
        contact_mobile,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="contactWechat != null">
        contact_wechat,
      </if>
      <if test="contactQq != null">
        contact_qq,
      </if>
      <if test="moreInfo != null">
        more_info,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromProvince != null">
        #{fromProvince,jdbcType=VARCHAR},
      </if>
      <if test="fromCity != null">
        #{fromCity,jdbcType=VARCHAR},
      </if>
      <if test="fromStorage != null">
        #{fromStorage,jdbcType=VARCHAR},
      </if>
      <if test="fromLng != null">
        #{fromLng,jdbcType=DOUBLE},
      </if>
      <if test="fromLat != null">
        #{fromLat,jdbcType=DOUBLE},
      </if>
      <if test="toProvince != null">
        #{toProvince,jdbcType=VARCHAR},
      </if>
      <if test="toCity != null">
        #{toCity,jdbcType=VARCHAR},
      </if>
      <if test="toStorage != null">
        #{toStorage,jdbcType=VARCHAR},
      </if>
      <if test="toLng != null">
        #{toLng,jdbcType=DOUBLE},
      </if>
      <if test="toLat != null">
        #{toLat,jdbcType=DOUBLE},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=INTEGER},
      </if>
      <if test="routeType != null">
        #{routeType,jdbcType=INTEGER},
      </if>
      <if test="routeTrace != null">
        #{routeTrace,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null">
        #{carrierId,jdbcType=INTEGER},
      </if>
      <if test="contactPeople != null">
        #{contactPeople,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactWechat != null">
        #{contactWechat,jdbcType=VARCHAR},
      </if>
      <if test="contactQq != null">
        #{contactQq,jdbcType=VARCHAR},
      </if>
      <if test="moreInfo != null">
        #{moreInfo,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPkSelective" parameterType="com.huajun56.crm.entity.Route">
    <!--
      WARNING - @mbg.generated
    -->
    update crm_route
    <set>
      <if test="fromProvince != null">
        from_province = #{fromProvince,jdbcType=VARCHAR},
      </if>
      <if test="fromCity != null">
        from_city = #{fromCity,jdbcType=VARCHAR},
      </if>
      <if test="fromStorage != null">
        from_storage = #{fromStorage,jdbcType=VARCHAR},
      </if>
      <if test="fromLng != null">
        from_lng = #{fromLng,jdbcType=DOUBLE},
      </if>
      <if test="fromLat != null">
        from_lat = #{fromLat,jdbcType=DOUBLE},
      </if>
      <if test="toProvince != null">
        to_province = #{toProvince,jdbcType=VARCHAR},
      </if>
      <if test="toCity != null">
        to_city = #{toCity,jdbcType=VARCHAR},
      </if>
      <if test="toStorage != null">
        to_storage = #{toStorage,jdbcType=VARCHAR},
      </if>
      <if test="toLng != null">
        to_lng = #{toLng,jdbcType=DOUBLE},
      </if>
      <if test="toLat != null">
        to_lat = #{toLat,jdbcType=DOUBLE},
      </if>
      <if test="distance != null">
        distance = #{distance,jdbcType=INTEGER},
      </if>
      <if test="routeType != null">
        route_type = #{routeType,jdbcType=INTEGER},
      </if>
      <if test="routeTrace != null">
        route_trace = #{routeTrace,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null">
        carrier_id = #{carrierId,jdbcType=INTEGER},
      </if>
      <if test="contactPeople != null">
        contact_people = #{contactPeople,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactWechat != null">
        contact_wechat = #{contactWechat,jdbcType=VARCHAR},
      </if>
      <if test="contactQq != null">
        contact_qq = #{contactQq,jdbcType=VARCHAR},
      </if>
      <if test="moreInfo != null">
        more_info = #{moreInfo,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPK" parameterType="com.huajun56.crm.entity.Route">
    <!--
      WARNING - @mbg.generated
    -->
    update crm_route
    set from_province = #{fromProvince,jdbcType=VARCHAR},
      from_city = #{fromCity,jdbcType=VARCHAR},
      from_storage = #{fromStorage,jdbcType=VARCHAR},
      from_lng = #{fromLng,jdbcType=DOUBLE},
      from_lat = #{fromLat,jdbcType=DOUBLE},
      to_province = #{toProvince,jdbcType=VARCHAR},
      to_city = #{toCity,jdbcType=VARCHAR},
      to_storage = #{toStorage,jdbcType=VARCHAR},
      to_lng = #{toLng,jdbcType=DOUBLE},
      to_lat = #{toLat,jdbcType=DOUBLE},
      distance = #{distance,jdbcType=INTEGER},
      route_type = #{routeType,jdbcType=INTEGER},
      route_trace = #{routeTrace,jdbcType=VARCHAR},
      carrier_id = #{carrierId,jdbcType=INTEGER},
      contact_people = #{contactPeople,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      contact_wechat = #{contactWechat,jdbcType=VARCHAR},
      contact_qq = #{contactQq,jdbcType=VARCHAR},
      more_info = #{moreInfo,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>