<div class="list-container col-md-12">
    <div class="list-frame">
        <div class="list-title">
            <h3><i class="glyphicon glyphicon-th"></i>&nbsp;用户列表</h3>
        </div>
        <div class="input-area col-md-12">
            <div class="form-group form-material col-md-2">
                <div class="control-label">
                    <label>工号：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.id"
                           placeholder="工号">
                </div>
            </div>
            <div class="form-group form-material col-md-2">
                <div class="control-label">
                    <label>姓名：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.user_name"
                           placeholder="姓名">
                </div>
            </div>
            <div class="form-group form-material col-md-2">
                <div class="control-label">
                    <label>门店编号：</label>
                </div>
                <div class="control-input">
                    <input type="text" class="form-control" ng-model="pager.condition.org_id"
                           placeholder="门店编号">
                </div>
            </div>
            <div class="form-group form-material col-md-2">
                <button ng-click="reload(pager, 1);" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;查询
                </button>
            </div>
        </div>
        <div class="opt-panel col-md-12">
            <button class="btn btn-default" ng-click="doAddUserDialog();"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加
            </button>
            <button class="btn btn-default" ng-click="doBatchDel();"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除
            </button>
            <button class="btn btn-default" ng-click="reload();"><i class="glyphicon glyphicon-refresh"></i>&nbsp;刷新
            </button>
        </div>
        <div class="list-table">
            <div class="tab">
                <table>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-checked="globalChecked" ng-click="doCheckAll();">
                        </th>
                        <th>序号</th>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>手机号</th>
                        <th>门店编号</th>
                        <th>门店名称</th>
                        <th>类型</th>
                        <th>系统角色</th>
                        <th>专柜角色</th>
                        <th>分级</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="pager.result.length == 0">
                        <td colspan="15" class="none-result">
                            没有相关数据！
                        </td>
                    </tr>
                    <tr ng-if="pager.result.length > 0" ng-repeat="item in pager.result">
                        <td width="3%">
                            <input type="checkbox" ng-model="item.checked">
                        </td>
                        <td width="3%" ng-bind="$index + 1">
                        </td>
                        <td width="5%" ng-bind="item.id">
                        </td>
                        <td width="5%" ng-bind="item.user_name">
                        </td>
                        <td width="3%" ng-bind="item.sex|gender ">
                        </td>
                        <td width="8%" ng-bind="item.phone">
                        </td>
                        <td width="5%" ng-bind="item.org_id">
                        </td>
                        <td width="13%" ng-bind="item.spare_6">
                        </td>
                        <td width="7%" ng-bind="item.sales_ygqf | employerType">
                        </td>
                        <td width="7%" ng-bind="item.role_id | roleType">
                        </td>
                        <td width="7%" ng-bind="item.spare_3">
                        </td>
                        <td width="5%" ng-bind="item.sales_level | levelType">
                        </td>
                        <td width="5%" ng-bind="item.is_vaild | validType">
                        </td>
                        <td width="10%" ng-bind="item.create_time | date:'yyyy-MM-dd HH:mm:ss'">
                        </td>
                        <td width="14%">
                            <a href="" ng-click="doViewDetail(user);">查看详细</a>
                            &nbsp;
                            <a href="" ng-click="doEdit(user);">编辑</a>
                            &nbsp;
                            <a href="" ng-click="doDel(user);">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div pagination ng-pager="pager" ng-callback="reload(pager);" ng-block-num="10"></div>
        </div>
    </div>
</div>