<div class="list-container col-sm-12">
    <div class="list-frame">
        <div class="list-title">
            <h3><i class="glyphicon glyphicon-th"></i>&nbsp;修改密码</h3>
        </div>
        <div class="container pt20 pb20">
            <div class="col-sm-6 align-center float-none">
                <div class="form-group form-material col-sm-12">
                    <div class="control-label">
                        <label>帐&nbsp;&nbsp;&nbsp;号：</label>
                        <span ng-bind="user.login_name"></span>
                    </div>
                </div>
                <div class="form-group form-material col-sm-12">
                    <div class="control-label">
                        <label>用户名：</label>
                        <span ng-bind="user.name"></span>
                    </div>
                </div>

                <div class="form-group form-material col-sm-12">
                    <div class="control-label ">
                        <label>原密码：</label>
                        <input type="password" class="form-control" ng-model="user.password" placeholder="原密码">
                    </div>
                </div>
                <div class="form-group form-material col-sm-12 ">
                    <div class="control-label">
                        <label>新密码：</label>
                    </div>
                    <div class="control-input">
                        <input type="password" class="form-control" ng-model="user.spare_1" placeholder="新密码">
                    </div>
                </div>
                <div class="form-group form-material col-sm-12 ">
                    <div class="control-label">
                        <label>确认密码：</label>
                    </div>
                    <div class="control-input">
                        <input type="password" class="form-control" ng-model="user.spare_2" placeholder="确认密码">
                    </div>
                </div>
                <div class="text-align-center col-sm-12">
                    <button ng-click="doEdit();" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>&nbsp;保存
                    </button>
                    <a href="#/knowledge" class="btn btn-warning "><i class="glyphicon glyphicon-share-alt mirror-x"></i>&nbsp;返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
